<!DOCTYPE html>
<html ng-app>
  <head><title>Sklep</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
  <script>
  function ShopController($scope) {
    var socket = io.connect();
    $scope.nbr;
    $scope.id;
    $scope.myId;
    $scope.code;
     $scope.h2hide = true;
     
    
     $scope.stanowisko = [];
      
        $scope.h2vis = function() {
        $scope.h2hide = false;
         $(document).ready(function(){
            
            $(".hh").slideDown();
            
            
        });
        
           $scope.h2click = function(val) {
        $(document).ready(function(){
            $(".hh").slideUp();
             $(".nextCl").slideDown();
            
        });
        $scope.val2 = val.name;
        $scope.queueId = val.id;
        $scope.hid = false;
    }
  }
    
    $scope.nextClient = function nextClient(data){
      socket.emit('nextClient',data);
    };
    
    socket.on('connectionShop', function (data){
    $scope.nbr = data.numUsers;
    $scope.code = data.code;
    $scope.stanowisko = data.stanowisko;
    $scope.$apply();
  });
    
    socket.on('changeNum', function (data) {
    $scope.nbr = data.numUsers;
    $scope.code = data.code;
    $scope.$apply();
  });
  
    socket.on('changeNumBroad', function (data) {
    $scope.nbr = data.numUsers;
    $scope.code = data.code;
    $scope.$apply();
  });
  }
</script>
</head>
  <body>
    <div ng-controller="ShopController">
      <div ng-show="true" class="logo">
             <a class="aa" href="https://stanwkolejce-maciekkociela.c9users.io/"> dziekanat</a>
          </div>
     <input class="wyd" ng-show="!inputHide2" type="text" placeholder="Kolejka.." ng-model="val2" ng-click="h2vis()" />
      <div class="hh" ng-click="h2click(x)" ng-show="!h2hide" ng-repeat="x in stanowisko">{{x.name}}</div>
      
      <div class="nextCl">
      <button class="setin" ng-click = "nextClient(queueId)">Kolejny klient</button>
      <div class="p">{{code[queueId][nbr[queueId]+1]}}</div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>